
table { 
  border-spacing: 10px;
  border-collapse: separate;
}

.content-container {
  margin: 20px;
}

.hash,
.address,
.satoshis {
  font-family: "Courier New", Courier, monospace;
}

.satoshis {
  text-align: right;
  float: right;
}

.arrow {
  text-align: center;
}

.txouts ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

